.intro{
    color:rgb(119, 17, 203);
    font-size: 25px;
    align-content: center;
    padding-top: 50px;
}

.p{
    color:rgb(119, 17, 203);
    font-size: 25px;
    align-content: center;
    padding-top: 50px;
}